


<!DOCTYPE html>
<html lang="en">

<head>
    <title>GamersBootcamp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link href="magiczoom/magiczoom.css" rel="stylesheet" type="text/css" media="screen" />
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body style="background-color: rgb(12, 12, 12);">
    <!-- Start Top Nav -->
    <!-- <nav style="background-color: rgb(18, 18, 18);"  class="navbar navbar-expand-lg navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@gamersbootcamp.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:7012172355">+0000 2525</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav> -->
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav id="navbarOn"  class="navbar navbar-expand-lg  shadow" style="border-radius: 0px 0px 10px 10px; background-color: rgb(42, 42, 42);">
        <div class="container d-flex justify-content-between align-items-center">

            <a style="color: white; padding-right: 100px;" class="navbar-brand logo h2 align-self-center" href="/home">
                <img id="logonav" style="width: 250px; margin-right: 100px;" src="./assets/img/logo.png" class=" img-fluid">
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
         


         


            <div  class="align-self-center collapse navbar-collapse " id="templatemo_main_nav">
                <div class="mx-5"></div>
                <div class="mx-5"></div>
                <div class="mx-5"></div>
                <div class="flex-fill">
                    <ul class="nav  d-flex justify-content-between mx-lg-auto">
                        

                       
                        <% if (user) { %>
                             <li class="nav-item">
                                 <a id="navList" class="nav-link" href="/home">Home</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList" class="nav-link" href="/shop">Shop</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/wishlist">Wishlist</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/cart">Cart</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/profile">Profile</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/logout">Logout</a>
                             </li>
                         <% } else { %>
                           
                             <li class="mr-6"></li>
                             <li class="mr-2"></li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/">Home</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/shop">Shop</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList" s class="nav-link" href="/login">Wishlist</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList"  class="nav-link" href="/login">Cart</a>
                             </li>
                             <li class="nav-item">
                                 <a id="navList" class="nav-link" href="/login">Login</a>
                             </li>
                             <!-- <li class="nav-item">
                                 <a style="color: white;" class="nav-link" href="/register">Register</a>
                             </li>  -->
                            
                         <% }%>    
                       





                                
                                         
                    </ul>

                </div>
                
            </div>

        </div>
    </nav>
    <!-- Close Header -->